.container {
  height: 365px;
  margin: 0 auto;
  background-color: #ffff;
}

.body {
  margin: 0;
}

.wrapper {
  min-height: 600px;
}

.right_content div {
  position: relative;
  top: 140px;
  left: -20px;
}

.right_content h4 {
    margin-top: 38px;
    font-size: 20px;
}

.right_content h1 {
  font-size: 28px;
}

.left_content {
  position: relative;
  top: 100px;
  left: 67px;
  width: 442px;
}
