:root {
    --primay: #40BFFF;
    --secodary: #BCDDFE;
}

.body {
    margin: 0;
}

.wrapper {
    min-height: 600px;

}

.banner_1 {
    background-image: url('../../assets/img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 653.73px;
}

.bg_primary {
    background-color: var(--primay);
    background-position: center;
}

.row {}

.grid_2 {
    padding: 0 100px;
    display: inline-flex;
}

.grid_2 div {
    width: 50%;
    position: relative;
    top: 150px
}

.grid_3 {
    padding: 0 100px;
    display: inline-flex;
}

.grid_3 {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    padding: 30px 150px;

}

.main {}

.image_custome_banner {
    position: relative;
    top: -305px;

}

.banner_link h1 {
    font-size: xx-large;
    color: #ffff;
}

.banner_link p {
    font-size: 18px;
    color: #ffff;

}

.banner_link a {
    color: #ffff;
}

.card {
    text-align: center;
    padding: 30px;
}

.grid_product {
    display: inline-flex;
    flex-flow: wrap;
    padding: 30px 150px;
    min-height: 600px;

}

.item_product {
    width: 25%;
    text-align: center;
}

.item_info div img {
    width: 100.76px;
    height: 63.42px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item_info div {
    margin-top: px;
    border: none;

}

.item_info {
    height: 300px;
    /* background-color: rgb(167, 49, 49); */

}

.title {
    margin-bottom: 120px;
    /* background-color: #40BFFF; */
}

.item_product div {
    padding: 20px 20px 50px 20px;
}

.item_product div img {
    width: 100%;
    height: 340px;
}

.item_product div h4 {
    font-size: 24px;
    margin: 10px;
    color: var(--primay);
}

.item_product div a {
    background: var(--primay);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.item_product div button:hover {
    opacity: .6;
}

.padding_sm {}

.padding_md {}

.padding_lg {}

.input_group_1 input[type=search] {
    padding: 12px 25px;
    border: 2px solid var(--secodary);
    border-radius: 5px 0 0 5px;
    width: 400px;
    font-size: 18px;
}

.input_group_1 button {
    background-color: var(--primay);
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
}

.custome_banner {
    min-height: 500px;
    margin-top: 150px;
}

.detail_product {
    display: inline-flex;
    padding: 50px 20px;
    width: 100%;
}

.description_product {
    padding: 50px 20px;
}

.detail_product div.item:nth-child(1) {
    width: 35%;
}

.detail_product div.item:nth-child(1) img {
    width: 100%;

}
.detail_product div.item:nth-child(2) button.add_cart {
    float: right;
    position: relative;
    top: -21px;
    padding: 10px 20px;
    background-color: var(--secodary);
    border: none;
    font-size: 18px;
    border-radius: 5px
}
.detail_product div.item:nth-child(2) button.add_cart svg {
    fill: var(--primay);
    ;
}

.detail_product div.item:nth-child(2) {
    width: 65%;
    margin-left: 20px;
}

.container_detail_product {
    width: 1200px;
    margin: 0 auto;
}

.input_group_2 input[type=number] {
    
}
.input_group_2 button {

}