.container-fluid {
    background-color: #f1f3ff;
}

.image_hero {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50% !important;
}

.title {
    font-size: 2.2vw;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.description {
    font-size: 2.2vw;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.button_banner {
    background: green;
    border: 0;
    padding: 12px 28px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.image_hero img {
    width: 100%;
}

.main-banner {
    height: 65vh;
    background-color: #F1F3FF;
    display: flex;
    align-items: center;
}


.main {
    padding-bottom: 75px;
    margin-top: 100px;
}

.image_service img {
    width: 80%;
}

/* 
  .image_service {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50% !important;
  } */


.image_service img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.service-description {
    padding-left: 10%;
}

.service-description h1 {
    font-size: 1.6vw;
    line-height: 45px;
    font-weight: 700;
    padding-bottom: 30px;
}

.service-description p {
    font-size: 1vw;
    font-weight: 700;
}

.service-description ul {
    padding: 0;
}

.service-description ul li {
    list-style: none;
    line-height: 45px;
    font-weight: 700;
    font-size: 0.85vw;

}

.service-description ul img {
    padding-right: 15px;
}


.why-us {
    padding-bottom: 150px;
}

.card img {
    width: 15%;
    margin-left: 10%;
    margin-top: 10%;
}

.col-md-3 .card {
    border: 3px solid #e5e5e5;
    height: 25 vh;
}

.card-title {
    margin-bottom: 10%;
    margin-left: 5%;
}

.card-text {
    margin-left: 5%;
    font-weight: 600;
}

.title-why-us h1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.title-why-us p {
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 40px;
}


.kotak {
    display: flex;
    justify-content: center;
}

.cta-banner {
    background-color: #0D28A6;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
}

.content-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner h1 {
    color: white;
}

.content-banner p {
    color: white;
}


.question {
    padding-bottom: 20px;

}

.form-select {
    font-weight: 700;
}


.content-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    row-gap: 10px;
}

.center-banner {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.content-option {
    font-size: 20px;
    font-weight: 600;
}


.cta-banner {
    border-radius: 10px;
}